{% extends 'base.html.twig' %}

{% block content %}
    <div class="page-header">
        <h3>Список страниц</h3>
    </div>
    <ul class="nav nav-pills">
        <li>
            <a href="{{ generateUrl('admin.page.add') }}">Добавить новую</a>
        </li>
    </ul>
    {% for slug, pageGroup in pages %}
        <legend>{{ slug }}</legend>
        <ul class="list-unstyled">
            {% for subSlug, page in pageGroup %}
                <li>
                    <span class="text-muted">{{ subSlug }}</span>
                    <a href="{{ generateUrl('admin.page.edit', {'id': page.id}) }}" target="_blank">
                        {{ page.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}
