{% extends "base.html.twig" %}

{% block keywords %}{{ page.tags|join(',') }}{% endblock %}
{% block description %}{{ page.title }}{% endblock %}
{% block title %}{{ page.title }}{% endblock %}

{% block content %}
    {% set slugParts = page.slug|split('/') %}
    {% set slug = slugParts[0] %}
    {% set slugs = slugParts|slice(1) %}
    <div class="page-header">
        <h3>
            {{ page.title }}
            {% if isAdmin %}
                <small>
                    <a href="{{ generateUrl('admin.page.edit', {'id': id}) }}" target="_blank">
                        <span class="pull-right fa fa-pencil"></span>
                    </a>
                </small>
            {% endif %}
        </h3>
    </div>
    <p id="md-content">{{ page.content|raw }}</p>
{% endblock %}

{% block javascript %}
    <script src="/assets/js/marked.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#md-content').html(marked($('#md-content').text()));
        });
    </script>
{% endblock %}
