<div id="sidebar" class="">
    <ul id="accordion" class="nav panel-group">
        {% if isAdmin %}
            <li class="panel">
                <span class="nav-header">
                    <a data-toggle="collapse"
                            data-target="#menu-item-admin"
                            data-parent="#accordion">
                        <i class="fa fa-gears"></i>
                        <span>Администрирование</span>
                        <span class="pull-right caret"></span>
                    </a>
                </span>
                <ul id="menu-item-admin" class="nav collapse">
                    <li>
                        <a href="{{ router.generate('admin.page.list') }}">
                            Страницы
                        </a>
                    </li>
                    <li>
                        <a href="{{ router.generate('admin.menu.list') }}">
                            Меню
                        </a>
                    </li>
                </ul>
            </li>
        {% endif %}

        {% for parent in menu['parents'] %}
        <li class="panel">
            <span class="nav-header">
                {% set hasChildren = menu['children'][parent.id] is defined %}
                {% if hasChildren %}
                    <a data-toggle="collapse"
                           data-target="#menu-item-{{ parent.id }}"
                           data-parent="#accordion">
                        <span>{{ parent.title }}</span>
                        <span class="pull-right caret"></span>
                    </a>
                {% else %}
                    <a href="{{ parent.routeName ? router.generate(parent.routeName, parent.routeOptions) : '#' }}">
                        <span>{{ parent.title }}</span>
                    </a>
                {% endif %}
            </span>
            {% if hasChildren %}
                <ul id="menu-item-{{ parent.id }}" class="nav collapse">
                    {% for item in menu['children'][parent.id] %}
                        <li>
                            <a href="{{ router.generate(item.routeName, item.routeOptions) }}">
                                {{ item.title }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>
