<nav id="top-menu" class="navbar navbar-default hidden-xs hidden-sm" role="navigation">
    <ul class="nav navbar-nav">
        <li><a href="{{ generateUrl('home') }}">Главная</a></li>
        <li><a href="{{ generateUrl('comments.list', {'options': {'page': 1}}) }}">Гостевая книга</a></li>
        <li><a href="{{ generateUrl('page.show', {'slug': 'contacts'}) }}">Контакты</a></li>
        <li><a href="{{ generateUrl('page.show', {'slug': 'information', "slugs": ["entering"]}) }}">Электронная приемная</a></li>
        <li><a href="{{ generateUrl('page.show', {'slug': 'route-passport'}) }}">Дорожный паспорт</a></li>
        <li><a href="http://special.lmi-school.ru/">Версия для слабовидящих</a></li>
    </ul>
    <form class="navbar-form navbar-right hidden-sm hidden-xs" role="search">
        <div class="input-group">
            <span class="input-group-btn">
                {% if not isAdmin %}
                    <a href="{{ generateUrl('admin.login') }}" class="btn btn-default" type="button">
                        Войти <span class="fa fa-sign-in"></span>
                    </a>
                {% else %}
                    <a href="{{ generateUrl('admin.logout') }}" class="btn btn-default" type="button">
                        Выйти <span class="fa fa-sign-out"></span>
                    </a>
                {% endif %}
            </span>
            <input id="search-input" type="text" class="hidden form-control large" placeholder="Поиск...">
            <span class="input-group-btn">
                <button id="search-btn" class="btn btn-default" type="button">
                    Поиск <span class="fa fa-search"></span>
                </button>
            </span>
        </div>
    </form>
</nav>
