<nav>
    <ul class="pager">
        <li class="previous {{ currentPage == 1 ? "disabled" : "" }}">
            <a href="{{ generateUrl(routeName, {'page': 1}) }}">Первая</a>
        </li>
        <li class="{{ currentPage == 1 ? "disabled" : "" }}">
            <a href="{{ generateUrl(routeName, {'page': page - 1}) }}">&larr; Предыдущая</a>
        </li>
        <li class="{{ currentPage == lastPage ? "disabled" : "" }}">
            <a href="{{ generateUrl(routeName, {'page': page + 1}) }}">Следущая &rarr;</a>
        </li>
        <li class="next {{ currentPage == lastPage ? "disabled" : "" }}">
            <a href="{{ generateUrl(routeName, {'page': lastPage}) }}">Последняя</a>
        </li>
    </ul>
</nav>
